# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
c.html

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum
/grobidcli
/cmd/scratch

testdata/pdf/062RoisinAronAmericanNaturalist03.grobid.tei.xml
testdata/pdf/1906.02444.grobid.tei.xml
testdata/pdf/1906.11632.grobid.tei.xml
testdata/pdf/1906.11964.grobid.tei.xml
testdata/pdf/1906.12195.grobid.tei.xml
testdata/pdf/62-Article Text-140-1-10-20190621.grobid.tei.xml
